<header class="bg-light py-3 fixed-top">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a
                href="/"
                class="navbar-brand"
                >The Coffee Lovers Club!</a
            ><button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle Navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div
                class="collapse navbar-collapse"
                id="navbarNav"
            >
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a
                            href="/"
                            class="nav-link"
                            >Home</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="/messageboard/messages"
                            class="nav-link"
                            >Messageboard</a
                        >
                    </li>
                    <% if (!user) { %>
                    <li class="nav-item">
                        <a
                            href="/auth/sign-in"
                            class="nav-link"
                            >Sign in</a
                        >
                    </li>
                    <li class="nav-item">
                        <a
                            href="/auth/sign-up"
                            class="nav-link"
                            >Sign up</a
                        >
                    </li>
                    <% } else { %>
                    <li class="nav-item">
                        <a
                            href="/auth/sign-out"
                            class="nav-link"
                            >Sign out</a
                        >
                    </li>
                    <% } %>
                </ul>
            </div>
        </nav>
    </div>
</header>
