<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link
            rel="stylesheet"
            href="/stylesheets/style.css"
        />
    </head>
    <body>
        <h1>WELCOME BACK <%= user %>!</h1>
        <a href="/auth/log-out">LOG OUT</a>
    </body>
</html>
