<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form
            action="/auth/sign-in"
            method="post"
        >
            <label for="username">Username:</label>
            <input
                name="username"
                placeholder="username"
                type="text"
                required
                maxlength="100"
            />
            <label for="password">Password:</label>
            <input
                name="password"
                type="password"
                required
                minlength="4"
                maxlength="9999"
            />
            <button>Sign in</button>
        </form>
        <% if (errors && errors.length > 0) { %>
        <ul>
            <% errors.forEach(error =>{ %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
        <p>New user?</p>
        <a href="/auth/sign-up">Sign up today!</a>
    </body>
</html>
