<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title><%= title %></title>
    </head>
    <body>
        <h1><%= title %></h1>
        <form
            action=""
            method="post"
        >
            <label for="firstName">First name:</label>
            <input
                name="firstName"
                placeholder="First name"
                maxlength="200"
                required
                type="text"
            />
            <label for="lastName">First name:</label>
            <input
                name="lastName"
                placeholder="Last name"
                maxlength="200"
                required
                type="text"
            />
            <label for="username">Username:</label>
            <input
                name="username"
                placeholder="username"
                type="text"
                required
                maxlength="100"
            />
            <label for="password">Password:</label>
            <input
                name="password"
                type="password"
                required
                minlength="4"
                maxlength="9999"
            />
            <button>Sign up</button>
        </form>
    </body>
</html>
